/* 기본 페이지 설정 */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}


/* Header 스타일 */
header {
    background-color: #f8f8f8;
    padding: 10px;
    padding-bottom: 20px;
    text-align: left;
    height: 15px;
    align-items: center; /* 수직 중앙 정렬 */
    z-index: 10; /* 헤더가 콘텐츠 위로 떠서 로고가 잘리지 않도록 */
}

.logo {
    height: 30px; /* 로고의 크기에 맞게 조절하세요 */
    width: auto;
    padding: 25px 30px;
}

.contents {
    background-color: #f8f8f8;
    display: flex;
    align-items: stretch; /* 섹션을 페이지 높이에 맞게 늘립니다 */
    padding: 20px;
    flex: 1;
}

.left-section {
    flex: 1;
    padding: 60px;
    margin-right: 150px; /* 오른쪽 여백 조정 */
    margin-left: 0px;
}

.right-section {
    flex: 1;
    padding: 60px;
    text-align: left;
    background-color: #f9f9f9; /* 배경 색상 */
    border-radius: 8px; /* 모서리 둥글게 */
    margin-right: 0px;
    margin-left: 150px;
}

h2 {
    color: #000;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

/* h2 요소만 중앙 정렬 */
.center-title {
    text-align: center;
    margin-bottom: 20px; /* 아래쪽 여백 조정 */
}

.form-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #F1F1F1;
    border-radius: 8px;
    background-color: #F1F1F1;
    color: #919295;
}

.login-btn {
    height: 45px;
    width: 75px; /* 버튼을 전체 폭으로 설정 */
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #3366FF;
    color: white;
    font-size: 13px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s; /* 색상 전환 효과 추가 */
}

.login-btn:hover {
    background-color: #0056b3; /* 마우스 오버 시 색상 변경 */
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 15px;
    justify-content: flex-start; /* 좌측으로 정렬 */
}

.links a {
    color: #3366FF;
    text-decoration: none;
}

.divider {
    width: 1px;
    background-color: #3366FF;
    height: 15px;
    margin: 0 10px;
}

.login-section {
    display: flex;
    align-items: center; /* 수직 정렬 */
    justify-content: space-between; /* 좌우 끝으로 배치 */
}

.separator {
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
}

.separator-line {
    width: 1px;
    height: 200px; /* 구분선 길이 조절 */
    background-color: #1C1C1C;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.separator-content {
    width: 50px; /* 원의 직경 */
    height: 50px;
    background-color: #f8f8f8;
    color: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px; /* 글자 크기 */
}

.social-buttons {
    display: flex;
    flex-direction: column;
}

.social-buttons button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
}

.kakao {
    background-color: #FEE500;
    color: white;
}

.naver {
    background-color: #03C75A;
    color: white;
}

.google {
    background-color: #F1F1F1;
    color: #000; /* 글씨 색상 */
}

/* Footer 스타일 */
footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.footer-logo {
    width: 130px;
    margin-bottom: 10px;
}

footer p {
    margin: 5px 0;
    color: #ACACAC;
    font-size: 12px;
    line-height: 2;
}