.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* 기본 페이지 설정 */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}


/* Header 스타일 */
header {
    background-color: #f8f8f8;
    padding: 10px;
    padding-bottom: 20px;
    text-align: left;
    height: 60px;
    display: flex; /* 요소를 좌우로 배치할 수 있도록 flexbox 적용 */
    justify-content: space-between; /* 좌우 끝에 요소를 배치 */
    align-items: center; /* 수직 중앙 정렬 */
    z-index: 10; /* 헤더가 콘텐츠 위로 떠서 로고가 잘리지 않도록 */
}

.logo {
    height: 20px; /* 로고의 크기에 맞게 조절하세요 */
    width: auto;
    padding: 25px 30px;
}

/* 로고 링크 스타일 */
.logo-link {
    text-decoration: none; /* 링크 밑줄 제거 */
}

.login-btn {
    background-color: black;
    color: #f8f8f8;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: center;
    transition: background-color 0.5s, color 0.5s; /* 호버 효과를 위한 부드러운 전환 */
    cursor: pointer;
    font-size: 15px;
    margin-right: 30px; /* 우측 여백 추가 */
}

.login-btn:hover {
    background-color: #3366FF; /* 호버 시 배경색 흰색으로 변경 */
    color: #ffffff; /* 호버 시 글씨색 변경 */
}

/* Contents 스타일 */
main {
    background-color: #f8f8f8;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.main-text-large {
    font-family: "Bebas Neue", sans-serif;
    /*font-family: 'Tenada', sans-serif; /* 폰트 적용 */
    font-size: 25px;
    letter-spacing: 3px; /* 글자 간격을 2px로 설정 */
    color: black;
    margin-top: 50px;
    margin-bottom: 0px;
    font-style: normal;
}

.main-text-medium {
    font-family: "Bebas Neue", sans-serif;
    /*font-family: 'Tenada', sans-serif; /* 폰트 적용 */
    font-size: 50px;
    letter-spacing: 5px; /* 글자 간격을 2px로 설정 */
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: normal;
}

.main-text-small {
    font-family: "Bebas Neue", sans-serif;
    /*font-family: 'Tenada', sans-serif; /* 폰트 적용 */
    font-size: 50px;
    letter-spacing: 5px; /* 글자 간격을 2px로 설정 */
    color: black;
    margin-top: 0px;
    font-style: normal;
}

.image-container {
    position: relative;
    text-align: center; /* 버튼 중앙 정렬 */
}

/* 타원형 버튼 스타일 */
.oval-button {
    display: inline-block;
    padding: 15px 25px;
    border: none;
    background-color: #000000;
    height: 50px;
    color: #f8f8f8; /* 흰색 글씨 */
    border-radius: 30px; /* 타원형 모양 */
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s; /* 호버 효과를 위한 부드러운 전환 */
    margin-top: 10px;
    margin-bottom: 50px; /* 상하 여백 조정 */
}

.oval-button:hover {
    background-color: #3366FF; /* 호버 시 배경색 흰색으로 변경 */
    color: #f8f8f8; /* 호버 시 글씨색 변경 */
}

.main-image {
    width: 80px;
    height: auto;
}

/* Footer 스타일 */
footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.footer-logo {
    width: 130px;
    margin-bottom: 10px;
}

footer p {
    margin: 5px 0;
    color: #ACACAC;
    font-size: 12px;
    line-height: 2;
}