<!--
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Change PW</title>
        <link rel="stylesheet" href="/static/css/changePw.css">
        <link rel="icon" href="/static/assets/icon/timeflow_icon_favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header>
            <img src="/static/assets/icon/timeflow_icon_mini_white.png" alt="Logo" class="logo">
        </header>
        <div class="contents">
            <h2>비밀번호 변경</h2>
            <form id="passwordChangeForm">
                <div class="form-group">
                    <label for="current-password">현재 비밀번호</label>
                    <input type="password" id="current-password" placeholder="Enter Your Password">
                </div>
                <div class="form-group">
                    <label for="new-password">새 비밀번호</label>
                    <input type="password" id="new-password" placeholder="Enter Your New Password">
                </div>
                <div class="form-group">
                    <label for="confirm-password">비밀번호 확인</label>
                    <input type="password" id="confirm-password" placeholder="Check Your Password">
                    <p ixd="password-message"></p>
                </div>
                <button type="submit" class="submit-btn">비밀번호 변경</button>
            </form>
        </div>
        <footer>
            <img src="/assets/icon/timeflow_icon_black.png" alt="사이트 로고" class="footer-logo">
            <p>
                대표 : 김여정&김우희 | 주소 : 광주광역시 동구 조선대5길 65 IT융합대학 <br>
                사업자등록번호 : 그런거 없졍
            </p>
            <p>
                개인정보 처리방침 | 이용약관 | 사업자 정보 확인
            </p>
        </footer>
    <script src="/static/js/changePw.js"></script>
    </body>
</html>-->
