<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myPage</title>
    <link rel="stylesheet" href="/static/css/myPage.css">
    <link rel="icon" href="/assets/icon/timeflow_icon_favicon.ico" type="image/x-icon">
</head>
<body>
<header>
    <img src="/assets/icon/timeflow_icon_mini_black.png" alt="Logo" class="logo">
</header>
<div class="profile-container">
    <div class="form-group">
        <label for="profile">Profile</label>
        <img src="user-profile.png" alt="User Profile" class="profile-pic">
    </div>
    <button class="edit-btn" id="edit-btn">수정</button>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="profile-input" value="사용자 이름" disabled>
    </div>
    <div class="form-group">
        <label for="id">ID</label>
        <input type="text" id="id" class="profile-input" value="사용자 아이디" disabled>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="profile-input" value="사용자 이메일" disabled>
    </div>
    <div class="form-group">
        <label for="birthdate">BirthDate</label>
        <input type="text" id="birthdate" class="profile-input" value="사용자 생년월일" disabled>
    </div>

    <button class="save-btn" id="save-btn" disabled>저장</button>
</div>
<footer>
    <img src="/assets/icon/timeflow_icon_black.png" alt="사이트 로고" class="footer-logo">
    <p>
        대표 : 김여정&김우희 | 주소 : 광주광역시 동구 조선대5길 65 IT융합대학 <br>
        사업자등록번호 : 그런거 없졍
    </p>
    <p>
        개인정보 처리방침 | 이용약관 | 사업자 정보 확인
    </p>
</footer>
<script src="/static/js/myPage.js"></script>
</body>
</html>
-->
