<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Sign In</title>
    <link rel="stylesheet" href="/static/css/successSignIn.css">
    <link rel="icon" href="/static/assets/icon/timeflow_icon_favicon.ico" type="image/x-icon">
</head>
<body>
<header>
    <img src="/static/assets/icon/timeflow_icon_mini_black.png" alt="Logo" class="logo">
</header>
<div class="container">
    <img src="/static/assets/icon/timeflow_icon_mini_green.png" alt="check_Logo" class="center-logo">
    <p class="success-message">
        회원가입에 성공했습니다.<br>
        timeflow에 오신걸 환영합니다!
    </p>
    <a href="login.html" class="login-link">로그인 바로가기</a>
</div>
<footer>
    <img src="/static/assets/icon/timeflow_icon_black.png" alt="사이트 로고" class="footer-logo">
    <p>
        대표 : 김여정&김우희 | 주소 : 광주광역시 동구 조선대5길 65 IT융합대학
    </p>
    <p>
        사업자등록번호 : 그런거 없졍
    </p>
    <p>
        개인정보 처리방침 | 이용약관 | 사업자 정보 확인
    </p>
</footer>
</body>
</html>
